.tag {
    text-decoration: none;
    color: black;
}

.list {    
        list-style: none;
    margin: 0px 35px;
    font-weight: bold;
    padding: 21px 0px;
    padding-top: 23px;
    border-bottom: 2px solid #fdd144;

}


.list:hover {
    cursor: pointer;
    border-bottom: 2px solid #fdd144;
}
